#### Python basic practice like lists, tuples, set, dictonary

### list

In [37]:
list1=["Akhil", "Akash","Geetha"]
print(list1)

['Akhil', 'Akash', 'Geetha']

In [38]:
list.append("Tejaswi")
print(list)

['Tejaswi', 'Geetha', 'Akash', 'Akhil', 'Tejaswi']

In [39]:
print(list1*5)

['Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha']

In [40]:
print(list1[1])

Akash

### string assignment and printing

In [15]:
str="akhil"
for i in str:
    print(i)

a
k
h
i
l

### string assignment, string spliting, list conversion to set

When string is split using .split(), it will convert the string into list variable.

In [2]:
string="my name is akhil and my age is 29 years"
split_string= string.split()
print(split_string)
for i in split_string:
    print (i)
set1_string=set(split_string)
print(set1_string)
print(list(set1_string))

['my', 'name', 'is', 'akhil', 'and', 'my', 'age', 'is', '29', 'years']
my
name
is
akhil
and
my
age
is
29
years
{'my', '29', 'name', 'years', 'is', 'age', 'and', 'akhil'}
['my', '29', 'name', 'years', 'is', 'age', 'and', 'akhil']

In [13]:
list2 = ["akhl", 23, 55, "jsdj"]
set2 = set(list2)
print(set2)

list3 = list(set2)
print(list3)

print(list[::])

{'akhl', 55, 'jsdj', 23}
['akhl', 55, 'jsdj', 23]
list[slice(None, None, None)]

#### print whether a num is prime or not:

In [9]:
for num in range(1, 101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### tuple initializing

In [23]:
t1=(1,2,3,4,5)
print(t1[::-1])

(5, 4, 3, 2, 1)

### dictionary

In [30]:
mydict={"name":"akhil","age":45,"city":"hyd"}
print(mydict.keys())
print(mydict.values())
print(mydict.items())

dict_keys(['name', 'age', 'city'])
dict_values(['akhil', 45, 'hyd'])
dict_items([('name', 'akhil'), ('age', 45), ('city', 'hyd')])

## Dictionary Comprehenshion

In [31]:
expdict = {x:x**2 for x in range(6)}
print(expdict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Conditional dictonary comprehension

In [33]:
expdict2 = {x:int(x/2*5 )for x in range(31) if x%2==0}
print(expdict2)

{0: 0, 2: 5, 4: 10, 6: 15, 8: 20, 10: 25, 12: 30, 14: 35, 16: 40, 18: 45, 20: 50, 22: 55, 24: 60, 26: 65, 28: 70, 30: 75}

### **Count the number of times a value has appeared in the list**

In [44]:
test=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5, 6,6,6]
print(test)
count={} 
for  num in test:
    if num in count :
        count[num] +=1
    else:
        count[num]=1
print(count)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6]
{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 3}

## Functions:
### basic function, function with more than one return value, positional arguments and keyword arguments.

In [4]:
def calc(b, c):
    a = b+c
    return a

In [5]:
calc(10, 15)

25

In [6]:
def calc1(b,c):
    a=b+c
    return a, b, c

calc1(10, 25)

(35, 10, 25)

#### postitional arguments

In [7]:
def calc2(*args):
    for i in args:
        print(i)

calc2(10,9,8,7,6,5,4,3,2,1)

10
9
8
7
6
5
4
3
2
1

In [13]:
def calc3(*args):
    sum = 0
    for i in args:
        sum = sum+i
    print(sum)

calc3(1,2,3,4,5,6,7,8,9,10)

55

#### keyword arguments

In [18]:
def cal5(**kwargs):
    for i in kwargs:
        print(i)
    print(kwargs)

cal5(name="akhil", age="29", city="secunderabad")

name
age
city
{'name': 'akhil', 'age': '29', 'city': 'secunderabad'}

### combination of positional and kwyword arguments:

In [23]:
def temp_calc(*args, **kwargs):
    for i in args:
        print(i)

    for key, value in kwargs.items():
        print(key, value)


temp_calc(2, 4, 6, 8, name="akhil",age="29",city="secunderabad")

2
4
6
8
name akhil
age 29
city secunderabad

In [ ]:
# print prime numbers:

def prime_or_not(num):
    for n in range(1, num):
        if n>1:
            for i in range(2,n):
                if n%i==0:
                    break
            else:
                print("prime:", n)                    


prime_or_not(100)

prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 41
prime: 43
prime: 47
prime: 53
prime: 59
prime: 61
prime: 67
prime: 71
prime: 73
prime: 79
prime: 83
prime: 89
prime: 97

Same prime number concept using filters:

In [21]:
n = [10, 20, 30, 40, 50, 60]
list(filter(prime_or_not, n))

prime: 2
prime: 3
prime: 5
prime: 7
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 41
prime: 43
prime: 47
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 41
prime: 43
prime: 47
prime: 53
prime: 59

[]

using the map function:

In [22]:
list(map(prime_or_not, n))

prime: 2
prime: 3
prime: 5
prime: 7
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 41
prime: 43
prime: 47
prime: 2
prime: 3
prime: 5
prime: 7
prime: 11
prime: 13
prime: 17
prime: 19
prime: 23
prime: 29
prime: 31
prime: 37
prime: 41
prime: 43
prime: 47
prime: 53
prime: 59

[None, None, None, None, None, None]

 palindrome or not

In [12]:
str="@My name is Akhil!!!, my age is $29, My @city is #hyderbad!!!"

In [11]:
new_str1=str.strip("@").strip("!").strip("$").strip(",")   # this will only remove the special symbol in last and first only not in the middle of the string.
print(new_str1)

My name is Akhil!!!, my age is $29, My @city is #hyderbad

In [13]:
new_str2=str.replace("@","").replace("!","").replace("$","").replace(",","")
print(new_str2)

My name is Akhil my age is 29 My city is #hyderbad

In [14]:
import re
new_str3=re.sub(r'[^a-zA-Z0-9]','', str)
print(new_str3)

MynameisAkhilmyageis29Mycityishyderbad

In [ ]:
stru="madam"

In [19]:
def palindrome_or_not(stru):
    return stru==stru[::-1]

palindrome_or_not(stru)
print(palindrome_or_not(stru))

True

#### map function

In [37]:
num=[1,2,3,4,5,6,7,8,9,10]
def powerfn(num):
    for i in num:
        j = i**2
        print(j)
    return i**2
     

list(map(powerfn,[num]))

1
4
9
16
25
36
49
64
81
100

[100]

In [2]:
str="akhil"
print(str)

akhil

In [3]:
for  i in str:
    print(i)

a
k
h
i
l

In [9]:
num11=[1,1,1,3,5,7,9]
print(type(num11))
print(num11)

<class 'list'>
[1, 1, 1, 3, 5, 7, 9]

In [10]:
print(set(num11))

{1, 3, 5, 7, 9}

In [11]:
for i  in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [12]:
for i  in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [14]:
for i  in range(10):
    if i==5:
        pass    
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for num in range(1, 101):
    for test in range(2, num):
            if num%test==0:
                  break
    else:
        print(f"number {num} is a prime number")

number 1 is a prime number
number 2 is a prime number
number 3 is a prime number
number 5 is a prime number
number 7 is a prime number
number 11 is a prime number
number 13 is a prime number
number 17 is a prime number
number 19 is a prime number
number 23 is a prime number
number 29 is a prime number
number 31 is a prime number
number 37 is a prime number
number 41 is a prime number
number 43 is a prime number
number 47 is a prime number
number 53 is a prime number
number 59 is a prime number
number 61 is a prime number
number 67 is a prime number
number 71 is a prime number
number 73 is a prime number
number 79 is a prime number
number 83 is a prime number
number 89 is a prime number
number 97 is a prime number

In [43]:
def function1(*args, **kwargs):
    
    for i in args:
        print(i)
    
    for key,value in kwargs.items():
        print (f"{key}:{value}")

In [45]:
function1(13,8,25, "akhil",nam="akhils",age=25)

13
8
25
akhil
nam:akhils
age:25

In [65]:
two_table={x:x*2 for x in range(1,11)}
print(two_table)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [66]:
even_multiply={y:y**2 for y in range(11) if y%2==0 }
print(even_multiply)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [58]:
for y in range(21):
    print(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [74]:
str="#Race@ car!!!"
stripped_str=str.strip("#").strip("@").strip("!").replace("@","").lower().replace(" ","")
new_str=stripped_str.split()
print(new_str)
if new_str==new_str[::-1]:
    print(f"{new_str} is palindrome")
else:
    print("nope")

['racecar']
['racecar'] is palindrome

In [80]:
even = lambda a,b: a+b
print(even)

even(10, 4)

<function <lambda> at 0x7c02a00f40e0>

14

In [83]:
num12=[2,4,6,8,10]
num13=[1,2,3,4,5]

list(map(even, num12,num13))

[3, 6, 9, 12, 15]

In [87]:
beven=lambda c: c%2==0
print(beven)

beven(15)

<function <lambda> at 0x7c029bfb0c20>

False

In [89]:
list(filter(beven, num13))

[2, 4]

In [90]:
import math 
math.sqrt(16)

4.0

In [1]:
from mymodu.mul import multiply
multiply(4,5)

20

In [17]:
import random
num = random.randint(1, 10)
choice= random.choice(["akhil","akash", "student", "professor", "doctor"])
print(num)
print(choice)

1
student

In [27]:
from datetime import *

current_time= datetime.now()
print(current_time)

yesterday=(current_time - timedelta(days=1))
print(yesterday)

2025-04-22 18:06:15.899980
2025-04-21 18:06:15.899980

In [31]:
import time

time.sleep(3)
print("5")

5

In [38]:
with open('app.py','r') as file:
    content = file.read()
    print(content)

with open('app.py','a') as file:
    file.write(content)
    print("write successful!!")

print(3+5)
write successful!!

In [39]:
import os
print(os.listdir('.'))

['test.ipynb', '.git', 'practice.ipynb', 'mymodu', 'venv', 'age_based_ticket.py', 'leap_year.ipynb', 'simple_calculator.py', 'README.md', 'app.py']

In [40]:
print(os.getcwd())

/workspaces/ml_learn

In [54]:
a=10000

b=0

try:
    div=a/b
    print(div)
except ZeroDivisionError as ze:
    print(ze)

division by zero

In [57]:
a=10000

b=0

try:
    div=a/b
    print(div)
except Exception as ze:
    print(ze)

finally:
    print("Exception handled")

division by zero
Exception handled

In [58]:
my_list=[1,2,3,4,5,6]
iteration=iter(my_list)

In [62]:
next(iteration)

3

In [71]:


def large_file(sample):
    with open("sample.txt",'r') as file:
        for line in file:
            yield line


for line in large_file("sample.txt"):
    print(line)

Fantastic! I'm glad to hear that a simple restart of the kernel did the trick. It's one of those surprisingly common solutions in the world of development environments.

Sometimes the environment needs a little nudge to recognize new files or changes. Happy coding, and feel free to reach out if you encounter any more hurdles!

Sometimes, Jupyter notebooks can have issues with recognizing newly created files or changes in the file system. Try restarting the kernel of your notebook. You can usually do this from the "Kernel" menu in the Jupyter interface (e.g., "Kernel" -> "Restart"). After restarting, try running the import statement again.

4. Check for Other Files Named mul.py:

It's less likely in this scenario, but sometimes there might be another file named mul.py in a different location that Python is finding instead. If you have a complex Python environment, this could potentially cause issues. However, given your description of the folder structure, this is probably not the case here.

Let's assume your mul.py file should contain the multiply function. Here's a checklist for you:

[ ] Is there a file named exactly mul.py inside the folder named exactly mymodu?

[ ] Inside mul.py, is there a function defined as def multiply(a, b):?

[ ] Are there any typos in the function name multiply in mul.py?

[ ] Have you restarted the Jupyter kernel since creating mymodu and mul.py?

Once you've gone through these checks, try running the import statement again. If you still get the error, please share the exact content of your mul.py file (you can copy and paste the code here), and we can take a closer look.

restarting helped, thanx

Fantastic! I'm glad to hear that a simple restart of the kernel did the trick. It's one of those surprisingly common solutions in the world of development environments.

Sometimes the environment needs a little nudge to recognize new files or changes. Happy coding, and feel free to reach out if you encounter any more hurdles!Okay, the ImportError: cannot import name 'multiply' from 'mymodu.mul' tells us that Python is finding the mymodu/mul.py file, but it's not finding something named multiply inside that file that it can import.

Let's systematically troubleshoot this:

1. Double-Check the mul.py File:

Content: Open the mul.py file located in your mymodu folder. Carefully examine its contents.

Function Definition: Make absolutely sure that you have defined a function named exactly multiply within that file. Python is case-sensitive, so Multiply, mUltiply, etc., will not be recognized as multiply.

Syntax: Ensure the function definition has the

estart the Jupyter Kernel:

Sometimes, Jupyter notebooks can have issues with recognizing newly created files or changes in the file system. Try restarting the kernel of your notebook. You can usually do this from the "Kernel" menu in the Jupyter interface (e.g., "Kernel" -> "Restart"). After restarting, try running the import statement again.

4. Check for Other Files Named mul.py:

It's less likely in this scenario, but sometimes there might be another file named mul.py in a different location that Python is finding instead. If you have a complex Python environment, this could potentially cause issues. However, given your description of the folder structure, this is probably not the case here.

Let's assume your mul.py file should contain the multiply function. Here's a checklist for you:

[ ] Is there a file named exactly mul.py inside the folder named exactly mymodu?

[ ] Inside mul.py, is there a function defined as def multiply(a, b):?

[ ] Are there any typos in the function name multiply in mul.py?

[ ] Have you restarted the Jupyter kernel since creating mymodu and mul.py?

Once you've gone through these checks, try running the import statement again. If you still get the error, please share the exact content of your mul.py file (you can copy and paste the code here), and we can take a closer look.

hahahaa

In [1]:
def lar_fil(sample):
    with open(sample,'r') as file:
      content=file.read().split()
      print(content)
      non_dup=set(content)
      print(non_dup)

lar_fil("sample.txt")

['Fantastic!', "I'm", 'glad', 'to', 'hear', 'that', 'a', 'simple', 'restart', 'of', 'the', 'kernel', 'did', 'the', 'trick.', "It's", 'one', 'of', 'those', 'surprisingly', 'common', 'solutions', 'in', 'the', 'world', 'of', 'development', 'environments.', 'Sometimes', 'the', 'environment', 'needs', 'a', 'little', 'nudge', 'to', 'recognize', 'new', 'files', 'or', 'changes.', 'Happy', 'coding,', 'and', 'feel', 'free', 'to', 'reach', 'out', 'if', 'you', 'encounter', 'any', 'more', 'hurdles!', 'Sometimes,', 'Jupyter', 'notebooks', 'can', 'have', 'issues', 'with', 'recognizing', 'newly', 'created', 'files', 'or', 'changes', 'in', 'the', 'file', 'system.', 'Try', 'restarting', 'the', 'kernel', 'of', 'your', 'notebook.', 'You', 'can', 'usually', 'do', 'this', 'from', 'the', '"Kernel"', 'menu', 'in', 'the', 'Jupyter', 'interface', '(e.g.,', '"Kernel"', '->', '"Restart").', 'After', 'restarting,', 'try', 'running', 'the', 'import', 'statement', 'again.', '4.', 'Check', 'for', 'Other', 'Files', 'Named', 'mul.py:', "It's", 'less', 'likely', 'in', 'this', 'scenario,', 'but', 'sometimes', 'there', 'might', 'be', 'another', 'file', 'named', 'mul.py', 'in', 'a', 'different', 'location', 'that', 'Python', 'is', 'finding', 'instead.', 'If', 'you', 'have', 'a', 'complex', 'Python', 'environment,', 'this', 'could', 'potentially', 'cause', 'issues.', 'However,', 'given', 'your', 'description', 'of', 'the', 'folder', 'structure,', 'this', 'is', 'probably', 'not', 'the', 'case', 'here.', "Let's", 'assume', 'your', 'mul.py', 'file', 'should', 'contain', 'the', 'multiply', 'function.', "Here's", 'a', 'checklist', 'for', 'you:', '[', ']', 'Is', 'there', 'a', 'file', 'named', 'exactly', 'mul.py', 'inside', 'the', 'folder', 'named', 'exactly', 'mymodu?', '[', ']', 'Inside', 'mul.py,', 'is', 'there', 'a', 'function', 'defined', 'as', 'def', 'multiply(a,', 'b):?', '[', ']', 'Are', 'there', 'any', 'typos', 'in', 'the', 'function', 'name', 'multiply', 'in', 'mul.py?', '[', ']', 'Have', 'you', 'restarted', 'the', 'Jupyter', 'kernel', 'since', 'creating', 'mymodu', 'and', 'mul.py?', 'Once', "you've", 'gone', 'through', 'these', 'checks,', 'try', 'running', 'the', 'import', 'statement', 'again.', 'If', 'you', 'still', 'get', 'the', 'error,', 'please', 'share', 'the', 'exact', 'content', 'of', 'your', 'mul.py', 'file', '(you', 'can', 'copy', 'and', 'paste', 'the', 'code', 'here),', 'and', 'we', 'can', 'take', 'a', 'closer', 'look.', 'restarting', 'helped,', 'thanx', 'Fantastic!', "I'm", 'glad', 'to', 'hear', 'that', 'a', 'simple', 'restart', 'of', 'the', 'kernel', 'did', 'the', 'trick.', "It's", 'one', 'of', 'those', 'surprisingly', 'common', 'solutions', 'in', 'the', 'world', 'of', 'development', 'environments.', 'Sometimes', 'the', 'environment', 'needs', 'a', 'little', 'nudge', 'to', 'recognize', 'new', 'files', 'or', 'changes.', 'Happy', 'coding,', 'and', 'feel', 'free', 'to', 'reach', 'out', 'if', 'you', 'encounter', 'any', 'more', 'hurdles!Okay,', 'the', 'ImportError:', 'cannot', 'import', 'name', "'multiply'", 'from', "'mymodu.mul'", 'tells', 'us', 'that', 'Python', 'is', 'finding', 'the', 'mymodu/mul.py', 'file,', 'but', "it's", 'not', 'finding', 'something', 'named', 'multiply', 'inside', 'that', 'file', 'that', 'it', 'can', 'import.', "Let's", 'systematically', 'troubleshoot', 'this:', '1.', 'Double-Check', 'the', 'mul.py', 'File:', 'Content:', 'Open', 'the', 'mul.py', 'file', 'located', 'in', 'your', 'mymodu', 'folder.', 'Carefully', 'examine', 'its', 'contents.', 'Function', 'Definition:', 'Make', 'absolutely', 'sure', 'that', 'you', 'have', 'defined', 'a', 'function', 'named', 'exactly', 'multiply', 'within', 'that', 'file.', 'Python', 'is', 'case-sensitive,', 'so', 'Multiply,', 'mUltiply,', 'etc.,', 'will', 'not', 'be', 'recognized', 'as', 'multiply.', 'Syntax:', 'Ensure', 'the', 'function', 'definition', 'has', 'the', 'estart', 'the', 'Jupyter', 'Kernel:', 'Sometimes,', 'Jupyter', 'notebooks', 'can', 'have', 'issues', 'with', 'recognizing', 'newly', 'created', 'files', 'or', 'changes', 'in', 'the', 'file', 'system.', 'Try', 'restarting', 'the', 'kernel', 'of', 'your', 'notebook.', 'You', 'can', 'usually', 'do', 'this', 'from', 'the', '"Kernel"', 'menu', 'in', 'the', 'Jupyter', 'interface', '(e.g.,', '"Kernel"', '->', '"Restart").', 'After', 'restarting,', 'try', 'running', 'the', 'import', 'statement', 'again.', '4.', 'Check', 'for', 'Other', 'Files', 'Named', 'mul.py:', "It's", 'less', 'likely', 'in', 'this', 'scenario,', 'but', 'sometimes', 'there', 'might', 'be', 'another', 'file', 'named', 'mul.py', 'in', 'a', 'different', 'location', 'that', 'Python', 'is', 'finding', 'instead.', 'If', 'you', 'have', 'a', 'complex', 'Python', 'environment,', 'this', 'could', 'potentially', 'cause', 'issues.', 'However,', 'given', 'your', 'description', 'of', 'the', 'folder', 'structure,', 'this', 'is', 'probably', 'not', 'the', 'case', 'here.', "Let's", 'assume', 'your', 'mul.py', 'file', 'should', 'contain', 'the', 'multiply', 'function.', "Here's", 'a', 'checklist', 'for', 'you:', '[', ']', 'Is', 'there', 'a', 'file', 'named', 'exactly', 'mul.py', 'inside', 'the', 'folder', 'named', 'exactly', 'mymodu?', '[', ']', 'Inside', 'mul.py,', 'is', 'there', 'a', 'function', 'defined', 'as', 'def', 'multiply(a,', 'b):?', '[', ']', 'Are', 'there', 'any', 'typos', 'in', 'the', 'function', 'name', 'multiply', 'in', 'mul.py?', '[', ']', 'Have', 'you', 'restarted', 'the', 'Jupyter', 'kernel', 'since', 'creating', 'mymodu', 'and', 'mul.py?', 'Once', "you've", 'gone', 'through', 'these', 'checks,', 'try', 'running', 'the', 'import', 'statement', 'again.', 'If', 'you', 'still', 'get', 'the', 'error,', 'please', 'share', 'the', 'exact', 'content', 'of', 'your', 'mul.py', 'file', '(you', 'can', 'copy', 'and', 'paste', 'the', 'code', 'here),', 'and', 'we', 'can', 'take', 'a', 'closer', 'look.', 'hahahaa']
{'Are', 'Fantastic!', 'another', ']', 'Other', 'solutions', 'within', 'Files', 'Inside', 'Is', 'environment,', 'Python', 'cause', 'common', 'named', 'might', 'any', 'from', '4.', 'Kernel:', 'the', 'However,', 'def', 'a', 'mul.py', 'is', 'Check', 'look.', 'code', 'ImportError:', 'description', 'simple', 'etc.,', 'creating', 'less', 'issues.', 'it', 'little', 'with', 'multiply.', '[', 'mul.py,', 'as', 'multiply(a,', 'to', 'b):?', 'hahahaa', 'this:', 'Multiply,', 'function.', 'coding,', "Here's", 'needs', 'potentially', 'system.', '1.', 'its', 'troubleshoot', 'Named', 'contents.', 'free', 'mymodu', 'Try', 'Carefully', "you've", "'multiply'", 'changes', 'name', 'nudge', 'Definition:', 'interface', 'likely', 'probably', 'new', 'encounter', 'Jupyter', 'notebook.', 'hurdles!', 'Have', 'instead.', 'restart', 'checks,', 'typos', 'hurdles!Okay,', 'running', "it's", 'restarted', 'changes.', 'out', 'scenario,', 'import.', 'could', '->', 'more', 'please', 'complex', 'contain', 'mUltiply,', 'try', "I'm", 'inside', 'systematically', 'but', 'kernel', 'environment', 'Happy', 'helped,', 'given', 'or', 'through', 'tells', 'closer', 'of', 'sure', 'Content:', 'surprisingly', 'still', 'again.', 'files', "Let's", 'You', '"Kernel"', 'copy', 'one', 'can', 'will', '(you', 'mymodu?', 'we', 'created', 'Sometimes,', 'if', 'do', 'Double-Check', 'mul.py:', 'statement', 'restarting,', 'has', 'different', 'reach', 'Open', 'you:', 'be', 'Once', 'your', 'mymodu/mul.py', 'did', 'these', 'Syntax:', 'us', 'there', 'you', 'Ensure', 'estart', 'those', 'issues', 'finding', 'exact', 'not', 'file', 'recognized', 'menu', 'get', 'File:', 'here),', 'located', 'case', 'something', 'for', 'newly', 'checklist', 'here.', 'usually', 'multiply', 'have', 'function', 'environments.', 'Function', 'defined', 'definition', 'in', 'share', 'Make', 'so', 'notebooks', 'examine', 'development', 'recognizing', 'thanx', 'world', 'glad', 'recognize', 'hear', 'take', 'case-sensitive,', 'feel', 'sometimes', 'content', 'gone', 'paste', 'cannot', 'folder.', 'import', 'After', 'should', 'Sometimes', 'this', 'trick.', 'structure,', 'exactly', "'mymodu.mul'", 'that', 'and', '"Restart").', 'absolutely', 'since', 'location', "It's", 'error,', '(e.g.,', 'file,', 'file.', 'If', 'mul.py?', 'assume', 'restarting', 'folder'}

In [ ]:
value=[1,2,2,3,3,4,4,5,5,5,5]

def counting(value):
    count={}
    for i in value:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    print(count)

counting(value)

[1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 5]
{1: 1, 2: 2, 3: 2, 4: 2, 5: 4}

In [ ]:
name=["hol","skjdhf","sdkjfh","wuetr","hfsdf"]
iterator=iter(name)
print(type(iterator))

<class 'list_iterator'>

In [9]:
next(iterator)

'hfsdf'

In [25]:
def manu(func):    
    def suv():
        print("before the function")
        func()
        print("after the func")
    return suv

@manu
def hellom():
    print("hey hello")

hellom()

before the function
hey hello
after the func

decorator practice

In [26]:
def Greetings(func):
    def greet():
        print("Good Morning!!")
        func()
        print("Take care, Bye !!")
    return greet

In [27]:
@Greetings
def my_name():
    print("Hello Akhil, welcome to the Hyderabad!!")

my_name()

Good Morning!!
Hello Akhil, welcome to the Hyderabad!!
Take care, Bye !!