#### Python basic practice like lists, tuples, set, dictonary

### list

In [37]:
list1=["Akhil", "Akash","Geetha"]
print(list1)

['Akhil', 'Akash', 'Geetha']

In [38]:
list.append("Tejaswi")
print(list)

['Tejaswi', 'Geetha', 'Akash', 'Akhil', 'Tejaswi']

In [39]:
print(list1*5)

['Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha', 'Akhil', 'Akash', 'Geetha']

In [40]:
print(list1[1])

Akash

### string assignment and printing

In [15]:
str="akhil"
for i in str:
    print(i)

a
k
h
i
l

### string assignment, string spliting, list conversion to set

When string is split using .split(), it will convert the string into list variable.

In [2]:
string="my name is akhil and my age is 29 years"
split_string= string.split()
print(split_string)
for i in split_string:
    print (i)
set1_string=set(split_string)
print(set1_string)
print(list(set1_string))

['my', 'name', 'is', 'akhil', 'and', 'my', 'age', 'is', '29', 'years']
my
name
is
akhil
and
my
age
is
29
years
{'my', '29', 'name', 'years', 'is', 'age', 'and', 'akhil'}
['my', '29', 'name', 'years', 'is', 'age', 'and', 'akhil']

In [13]:
list2 = ["akhl", 23, 55, "jsdj"]
set2 = set(list2)
print(set2)

list3 = list(set2)
print(list3)

print(list[::])

{'akhl', 55, 'jsdj', 23}
['akhl', 55, 'jsdj', 23]
list[slice(None, None, None)]

#### print whether a num is prime or not:

In [9]:
for num in range(1, 101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### tuple initializing

In [23]:
t1=(1,2,3,4,5)
print(t1[::-1])

(5, 4, 3, 2, 1)

### dictionary

In [30]:
mydict={"name":"akhil","age":45,"city":"hyd"}
print(mydict.keys())
print(mydict.values())
print(mydict.items())

dict_keys(['name', 'age', 'city'])
dict_values(['akhil', 45, 'hyd'])
dict_items([('name', 'akhil'), ('age', 45), ('city', 'hyd')])

## Dictionary Comprehenshion

In [31]:
expdict = {x:x**2 for x in range(6)}
print(expdict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Conditional dictonary comprehension

In [33]:
expdict2 = {x:int(x/2*5 )for x in range(31) if x%2==0}
print(expdict2)

{0: 0, 2: 5, 4: 10, 6: 15, 8: 20, 10: 25, 12: 30, 14: 35, 16: 40, 18: 45, 20: 50, 22: 55, 24: 60, 26: 65, 28: 70, 30: 75}

### **Count the number of times a value has appeared in the list**

In [44]:
test=[1,2,2,3,3,3,4,4,4,4,5,5,5,5,5, 6,6,6]
print(test)
count={} 
for  num in test:
    if num in count :
        count[num] +=1
    else:
        count[num]=1
print(count)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6]
{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 3}

## Functions:
### basic function, function with more than one return value, positional arguments and keyword arguments.

In [4]:
def calc(b, c):
    a = b+c
    return a

In [5]:
calc(10, 15)

25

In [6]:
def calc1(b,c):
    a=b+c
    return a, b, c

calc1(10, 25)

(35, 10, 25)

#### postitional arguments

In [7]:
def calc2(*args):
    for i in args:
        print(i)

calc2(10,9,8,7,6,5,4,3,2,1)

10
9
8
7
6
5
4
3
2
1

In [13]:
def calc3(*args):
    sum = 0
    for i in args:
        sum = sum+i
    print(sum)

calc3(1,2,3,4,5,6,7,8,9,10)

55

#### keyword arguments

In [18]:
def cal5(**kwargs):
    for i in kwargs:
        print(i)
    print(kwargs)

cal5(name="akhil", age="29", city="secunderabad")

name
age
city
{'name': 'akhil', 'age': '29', 'city': 'secunderabad'}

### combination of positional and kwyword arguments:

In [23]:
def temp_calc(*args, **kwargs):
    for i in args:
        print(i)

    for key, value in kwargs.items():
        print(key, value)


temp_calc(2, 4, 6, 8, name="akhil",age="29",city="secunderabad")

2
4
6
8
name akhil
age 29
city secunderabad